@font-face {
  font-family: "comic"; /* Gantilah 'YourFontName' dengan nama yang Anda inginkan */
  src: url("./assets/ComicStory-ywMq2.ttf") format("truetype"); /* Sesuaikan path dan format file font */
}

/* Body */
body {
  font-family: comic;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  margin: 0;
  padding: 0;
  background-color: #54c18aff;
  padding: 0.5rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #004b3bff;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

main img {
  width: 95%;
  max-width: 980px;
  height: auto;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem; /* Sesuaikan ukuran font sesuai keinginan Anda */
  }
}
