/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "comic"; /* Gantilah 'YourFontName' dengan nama yang Anda inginkan */
  src: url("./assets/ComicStory-ywMq2.ttf") format("truetype"); /* Sesuaikan path dan format file font */
}

/* Body */
body {
  font-family: comic;
}

a {
  text-decoration: none;
}
/* Background */
.background {
  background-image: url("./assets/2101.i305.012_nature_study_forest.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: #54c18aff;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #004b3bff;
}

/* Content */
.content {
  padding: 2rem;
  flex-grow: 1;
}

/* Button container */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem; /* Memberikan jarak antara header dan button-container */
}

/* Button */
.button {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-family: comic;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #30685dff;
  color: #fff;
}

/* Footer */
footer {
  background-color: #30685dff;
  padding: 1rem;
  text-align: center;
  color: #fff;
}

/* Copyright Logo */
footer img {
  width: 20px; /* Sesuaikan lebar logo sesuai kebutuhan */
  margin-right: 5px; /* Memberikan jarak antara logo dan teks */
}

/* Media Query untuk perangkat seluler */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem; /* Sesuaikan ukuran font sesuai keinginan Anda */
  }
}
